.section2 {
    background-color: rgba(255, 155, 0, 0.07);
    padding: 36px 2px;
    position: relative;
    height: 426px;  
    background-color: rgba(255, 255, 255, 0.94);     
    @media(min-width:1024px){
   
    }
    @media(min-width: 768px){   
        height: 36vh; 
    }
    p {  
    color: black;
    font-family: sans-serif;
    font-size: 29px;
    font-family: 'Arapey', serif;
    padding: 13px 13px;
    line-height: 43px;
    margin-top: 0;      
    @media(min-width:768px){
        line-height:65px ;
        font-size:35px ;   
    }
    }      
    img {
    position: absolute;
    width: 63px;
    height: 52px;
    bottom: 19px;
    right: 63px;
    border-radius: 50%;     
    @media(min-width:768px){
        width: 92px;
        height: 84px;
        bottom: 30px;
        right: 45px;
    } 
    }
   
}                                   